.container {
  background-color:#96A8C8;
}

.footer {
  background-color:#96A8C8;
}

.footer .row {
  justify-content: center;
  margin: 1rem 1rem 0rem;
}

.link {
  color: black;
}

.link:hover {
  color: green;
  transition: 0.5s;
}